$s-arr-r-big = 98px 53px -98px -53px 17px 27px 143px 133px 'sprite.png';
$s-arr-r = 127px 79px -127px -79px 7px 11px 143px 133px 'sprite.png';
$s-bell = 69px 0px -69px 0px 24px 28px 143px 133px 'sprite.png';
$s-calend = 69px 33px -69px -33px 20px 20px 143px 133px 'sprite.png';
$s-home = 98px 27px -98px -27px 24px 21px 143px 133px 'sprite.png';
$s-lock = 0px 28px 0px -28px 28px 26px 143px 133px 'sprite.png';
$s-loupe = 60px 59px -60px -59px 24px 24px 143px 133px 'sprite.png';
$s-menu = 38px 33px -38px -33px 26px 20px 143px 133px 'sprite.png';
$s-message = 0px 0px 0px 0px 33px 23px 143px 133px 'sprite.png';
$s-paging-next = 127px 31px -127px -31px 16px 26px 143px 133px 'sprite.png';
$s-paging-prev = 127px 0px -127px 0px 16px 26px 143px 133px 'sprite.png';
$s-plus = 127px 62px -127px -62px 12px 12px 143px 133px 'sprite.png';
$s-settings = 0px 89px 0px -89px 21px 22px 143px 133px 'sprite.png';
$s-stat = 98px 0px -98px 0px 24px 22px 143px 133px 'sprite.png';
$s-time-black = 30px 59px -30px -59px 25px 25px 143px 133px 'sprite.png';
$s-time-completed = 0px 116px 0px -116px 17px 17px 143px 133px 'sprite.png';
$s-time-green = 0px 59px 0px -59px 25px 25px 143px 133px 'sprite.png';
$s-time-grey = 76px 89px -76px -89px 17px 17px 143px 133px 'sprite.png';
$s-time-red = 98px 89px -98px -89px 17px 17px 143px 133px 'sprite.png';
$s-user-small = 26px 89px -26px -89px 20px 20px 143px 133px 'sprite.png';
$s-user = 38px 0px -38px 0px 26px 28px 143px 133px 'sprite.png';
$s-workflow = 51px 89px -51px -89px 20px 19px 143px 133px 'sprite.png';
