include helpers/bemto
include helpers/variables
include helpers/mixins

-bemto_settings_prefix = 'b-'

doctype html
html
	head
		title text
		include inc/head
	body(class="p-workflow")

		+b('div').page-wrap
		
			include partials/aside

			+b('div').content

				include partials/header

				.b-container
					+b('span').title_arr-next January 2016
					
					+b('table').calendar
						+e('tr').tr
							+e('th').th Mon
							+e('th').th Tue
							+e('th').th Wed
							+e('th').th Thu
							+e('th').th Fri
							+e('th').th Sat
							+e('th').th Sun
						+e('tr').tr
							+e('td').td_grey 
								+e('span').day 29
							+e('td').td_grey 
								+e('span').day 30
							+e('td').td_grey 
								+e('span').day 31
							+e('td').td 
								+e('span').day 1
								+event_item("blue")
							+e('td').td 
								+e('span').day 2
							+e('td').td 
								+e('span').day 3
								+event_item("pink")
								+event_item("blue")
							+e('td').td 
								+e('span').day 4
						+e('tr').tr
							+e('td').td
								+e('span').day 5
								+event_item("pink")
								+event_item("blue")
							+e('td').td
								+e('span').day 6
							+e('td').td
								+e('span').day 7
							+e('td').td
								+e('span').day 8
							+e('td').td
								+e('span').day 9
								+event_item("pink")
							+e('td').td
								+e('span').day 10
							+e('td').td
								+e('span').day 11
						+e('tr').tr
							+e('td').td
								+e('span').day 12
							+e('td').td
								+e('span').day 13
								+event_item("pink")
							+e('td').td
								+e('span').day 14
								+event_item("blue")
							+e('td').td
								+e('span').day 15
								+event_item("pink")
							+e('td').td
								+e('span').day 16
							+e('td').td
								+e('span').day 17
							+e('td').td
								+e('span').day 18
						+e('tr').tr
							+e('td').td
								+e('span').day 19
								+event_item("pink")
								+event_item("blue")
							+e('td').td
								+e('span').day 20
							+e('td').td
								+e('span').day 21
								+event_item("pink")
							+e('td').td
								+e('span').day 22
							+e('td').td
								+e('span').day 23
							+e('td').td
								+e('span').day 24
							+e('td').td
								+e('span').day 25
						+e('tr').tr
							+e('td').td
								+e('span').day 26
							+e('td').td
								+e('span').day 27
								+event_item("pink")
								+event_item("blue")
							+e('td').td
								+e('span').day 28
							+e('td').td
								+e('span').day 29
							+e('td').td
								+e('span').day 30
							+e('td').td
								+e('span').day 31
								+event_item("pink")
								+event_item("blue")
							+e('td').td_grey
								+e('span').day 1


						

		include inc/vendor-scripts
		script(src="js/client.min.js")
