+b().aside
	+e().logo-wrap
		+b('img')(src="img/logo.png").logo
	+b().menu
		+e('a')(href="#").item_home Ноme
		+e('a')(href="/workflow.html").item_flow Workflow
		+e('a')(href="#").item_stat Stastictics
		+e('a')(href="/calendar.html").item_calendar Calendar
		+e('a')(href="/users.html").item_users Users
		+e('a')(href="#").item_set Settings
