+b('header').header
	+e('').left
		+e('a')(href="#").item_menu
		+e('a')(href="#").item_search
	+e('').right
		+b('a')(href="#").btn_small._add Add project
		+e('a')(href="#").item_messages
		+e('a')(href="#").item_notifications
		+e('a')(href="#").item_profile
			+e('img')(src="http://placehold.it/53x53").avatar
