mixin task_item(status)
	+b()(data-letter="N").task-item
		+e().inside
			+e('span').title New website for JCD.pl
			+time(status)
		+b('a')(href="#").edit
			+e('span').dot


mixin time(status)
	if status == 'red'
		+b('span').time_red 2 days delays
	else if status == 'completed'
		+b('span').time_completed Completed!
	else if status == 'black'
		+b('span').time_black 5 days left
	else if status == 'green'
		+b('span').time_green 5 days left
	else
		+b('span').time 5 days left
