mixin task_item(status)
	+b()(data-letter="N").task-item
		+e().inside
			+e('span').title New website for JCD.pl
			+time(status)
		+b('a')(href="#").edit
			//- +e('span').dot
			
mixin event_item(color)
	if color == 'pink'
		+b('').event_pink Meeting with Will Smith
	else if color == 'blue'
		+b('').event_blue Meeting with Will Smith
			+e().info
				+e().top
				+e().middle
					+e('').item 
						+e('span').key Title
						+e('span').value Meeting with Will Smith
					+e('').item 
						+e('span').key Starts
						+e('span').value 3:00pm
					+e('').item 
						+e('span').key Ends
						+e('span').value 6:00pm
					+e('').item 
						+e('span').key Place
						+e('span').value Symu Co
				+e().bottom
					+b('a')(href="#").btn_small Edit event


mixin time(status)
	if status == 'red'
		+b('span').time_red 2 days delays
	else if status == 'completed'
		+b('span').time_completed Completed!
	else if status == 'black'
		+b('span').time_black 5 days left
	else if status == 'green'
		+b('span').time_green 5 days left
	else
		+b('span').time 5 days left
